.course-sidebar {
  .course-sidebar-social-icons .course-sidebar-social-icon {
    height: 2rem;
    width: 2rem;
  }

  .course-sidebar-course-details {
    border-top: 1px solid var(--pgn-color-gray-100);
    border-bottom: 1px solid var(--pgn-color-gray-100);
    padding: var(--pgn-spacing-spacer-base) 1.125rem;

    .course-sidebar-course-details-value {
      color: var(--pgn-color-black);
    }
  }

  .course-sidebar-course-details-prerequisites {
    padding: 0 1.125rem;
  }
}
