@import "course-intro/course-media/CourseMedia";
@import "course-sidebar/CourseSidebar";

.course-about-intro {
  .pgn__card {
    min-height: 15.75rem;
  }

  .course-about-intro-heading {
    font-size: var(--pgn-typography-font-size-h2-base);
    line-height: 2.25rem;
  }

  .pgn__card .pgn__card-header {
    .pgn__card-header-content {
      flex-direction: column-reverse;
    }

    .pgn__card-header-subtitle-md {
      margin: var(--pgn-spacing-spacer-0);
    }
  }

  .alert.course-about-intro-alert {
    box-shadow: none;
    padding: var(--pgn-spacing-spacer-0);
    margin: var(--pgn-spacing-spacer-0) var(--pgn-spacing-spacer-2) var(--pgn-spacing-spacer-0) var(--pgn-spacing-spacer-0);
    background-color: transparent;

    &.alert-success .alert-heading {
      color: var(--pgn-color-success-500);
    }

    &.alert-info .alert-heading {
      color: var(--pgn-color-info-500);
    }

    &.alert-danger .alert-heading {
      color: var(--pgn-color-danger-500);
    }
  }
}

.course-about-overview {
  box-shadow: var(--pgn-elevation-box-shadow-down-1);
  border-radius: calc(var(--pgn-size-card-border-radius-base) - var(--pgn-size-card-border-width));
  padding: var(--pgn-spacing-spacer-4);
}
