.course-card.pgn__card {
  .pgn__card-wrapper-image-cap.vertical {
    max-height: 132px;
  }

  .pgn__card-header {
    padding: 0 24px;

    .pgn__card-header-title-md {
      margin-bottom: 4px;
    }

    .pgn__card-header-subtitle-md {
      margin-top: 0;
    }
  }

  .pgn__card-footer {
    padding-left: 24px;
    padding-right: 24px;
  }
}