.course-card.pgn__card {
  &.course-card-desktop {
    width: 24.75rem;
  }

  .pgn__card-wrapper-image-cap.vertical {
    max-height: 8.25rem;
  }

  .pgn__card-header {
    padding: 0 map-get($spacers, 4);

    .pgn__card-header-title-md {
      margin-bottom: map-get($spacers, 1);
    }

    .pgn__card-header-subtitle-md {
      margin-top: 0;
    }
  }

  .pgn__card-footer {
    padding-left: map-get($spacers, 4);
    padding-right: map-get($spacers, 4);
  }
}
