.course-card.pgn__card {
  &.course-card-desktop {
    width: 24.75rem;
  }

  .pgn__card-wrapper-image-cap.vertical {
    max-height: 8.25rem;
  }

  .pgn__card-header {
    padding: 0 1.5rem;

    .pgn__card-header-title-md {
      margin-bottom: .25rem;
    }

    .pgn__card-header-subtitle-md {
      margin-top: 0;
    }
  }

  .pgn__card-footer {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
